/* Show title of unread tabs with red and italic font */
/*
:root.sidebar tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}
*/

/* Add private browsing indicator per tab */
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
/* Less visible tab dividers. 
   A black border with a very low alpha slightly darkens any color. */
tab-item {
  /* background-color: #dddddd; */
  /* color: #ff0000; */
  border: solid 1px #dddddd;
  /* padding: 3px; */
  /* // border-radius: 4px; */ 
}


/* tab-item .label-content { */
/*   color: #888888; */
/* } */

/* tab-item.active { */
/*   background-color: var(--theme-colors-sidebar_highlight); */
/* } */
/* tab-item.active .label-content { */
/*   color: var(--theme-colors-sidebar_highlight_text); */
/* } */